@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&family=Poppins:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  background: #f8f9f9;
}

.header-wrapper {
  max-width: 900px;
  background: #f8f9f9 url(../images/headerimg.svg);
  background-size: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-mobile {
  display: flex;
  margin: 24px;
}

.menu-link {
  border: 0;
  background: none;
  cursor: pointer;
}

.menu-link i {
  font-size: 30px;
}

.nav-mobile-popup {
  overflow: hidden;
  position: absolute;
  top: 0%;
  right: 0%;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: #3a4a42;
  opacity: 0.95;
  text-align: center;
  z-index: 1;
}

.close-popup {
  font-size: 30px;
  float: right;
  margin: 0.5em 0.5em;
  align-self: flex-end;
}

.close-popup:hover {
  color: blue;
  cursor: pointer;
}

.nav-mobile-popup ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 20px;
}

.partner li {
  font-size: 2em;
  margin: 1em 0.3em;
}

.nav-mobile-popup ul li {
  margin: 0 8px;
}

.nav-mobile-popup ul a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  color: #272a31;
  padding: 10px;
}

.headline {
  max-width: 900px;
  padding: 0.7em 1.2em 0.7em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.headline h3 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 0.5em;
  color: #ec4542;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  color: #ec4542;
  line-height: 1em;
  letter-spacing: 1px;
}

.headline-description {
  font-size: 12px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background: white;
  border: grey 1px solid;
}

.headline-contact {
  font-weight: 300;
  color: #565656;
  margin: 10px;
}

.contact-link {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

main {
  background: white;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abt-title {
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin: 24px;
}

.abt-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  top: 0.5em;
  width: 1em;
  height: 1px;
  background: #ec4542;
}

.abt-description {
  color: #565656;
  text-align: center;
}

.logo {
  height: 75px;
  border: 0px #d3d3d3 solid;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.privious-event {
  max-width: 900px;
  border-top: 2px #d3d3d3 solid;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.past-event-title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #565656;
}

.past-event-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  top: 0.5em;
  width: 1em;
  height: 1px;
  background: #ec4542;
}

.previuous-event-description {
  font-size: 20px;
  color: #454850;
  margin-top: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.event-card1 {
  background: url(../images/happy-goup.jpg);
  background-color: #ec4542;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 2em;
}

.event-card1 h2 {
  font-size: 30px;
  color: white;
  opacity: 0.9;
}

footer p {
  font-size: 0.7em;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8em;
}

.event-card1 p {
  color: white;
  opacity: 0.8;
  font-size: 24px;
}

.event-card2 {
  background: url(../images/ccsummit.jpg);
  background-color: #ec4542;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 2em;
}

.event-card2 h2 {
  font-size: 30px;
  color: white;
  opacity: 0.9;
}

.event-card2 p {
  color: white;
  opacity: 0.8;
  font-size: 24px;
}

.partner {
  background-color: #272a31;
  color: white;
}

.partner-titile {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 16px;
}

.partner-titile::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  top: 0.5em;
  width: 1em;
  height: 1px;
  background: #ec4542;
}

.partner ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 5px;
  margin: 50px;
}

.footer-logo i {
  font-size: 2em;
}

.footer-logo p {
  font-weight: 800;
}

.nav-desktop {
  display: none;
}

@media (min-width: 768px) {
  .header-wrapper {
    max-width: 100%;
  }

  .nav-desktop {
    display: block;
  }

  .nav-mobile {
    display: none;
  }

  .header-top {
    padding: 8px;
    background-color: #3e3e3e;
  }

  .menu-bar-top {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 130px;
  }

  .menu-bar-top a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  .header-bottom {
    width: 100%;
    background-color: #ffff;
  }

  .heder-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .menu-bar-bottom {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .menu-bar-bottom li {
    padding-right: 30px;
  }
  
  .menu-bar-bottom a {
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color: #272a31;
    padding: 10px;
    opacity: 1;
  }

  .menu-bar-bottom a:hover {
    border: 3px red solid;
    color: red;
  }

  .active {
    border: 3px red solid;
    color: red;
  }

  .headline h3 {
    display: none;
  }

  .headline h1 {
    margin: 24px;
  }

  .headline-description {
    font-size: 20px;
    display: flex;
    padding: 10px;
    background: white;
    border: grey 1px solid;
    text-align: center;
  }

  .event-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .partner {
    display: none;
  }

  footer {
    width: 100%;
    background-color: #2e2e2e;
    color: white;
  }

  .footer-logo {
    margin: 50px;
  }
}
